.Login {
    padding: 7px;
}
.Img{
    width: auto;
    height: auto;
}
.ui.secondary.inverted.menu{
    background-color: #333;
    margin-bottom: 0px
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s ;
    height: 0px;
}

.show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.2s, opacity 1s ;
}
.ui.list:last-child, ol.ui.list:last-child, ul.ui.list:last-child{
    margin-top: 0px;
    padding-top: 1em;
    background-color: #333;
    color: white;
    padding-bottom: 5px
}
.ui.list .list>.item, .ui.list>.item, ol.ui.list li, ul.ui.list li{
    padding: 1em;
    margin-bottom: 10px
    
}
.ui.divider:not(.vertical):not(.horizontal){
margin: 1em
}
a{
    color: white;
    text-decoration: "none"
}