.Login {
    padding: 7px;
}
.Header-background{
    background-color: #89DA58;
    height: auto;
    width: 100%;
}

.Img{
    width: auto;
    height: auto;
}
i.icon.sidebar{
    padding-top: 10px;
    padding-left: 13px;
}
i.icon.sidebar::before{
    width: 500px
}