
.ui.secondary.inverted.menu{
    background-color: #333;
    margin-bottom: 0px;
    font-family: 'Kanit'!important;
}
.navBarMenu{
    color: white!important;
    font-family: 'Kanit'!important;
    cursor: pointer;
    /* padding-left: 2em!important; */
    font-size: 14px
}
.searchBar{
    width: 45%!important;
}
.rightMenuBar{
    color: white!important;
    font-family: 'Kanit'!important;
    font-size: 14px!important;
    cursor: pointer;
}


.MenuMobile{
    background-color: #333;
    margin-bottom: 0px;
    height:2em!important; 
}
.searchBarMobile{
    width: 75%!important;
}
.ui.secondary.menu{
    margin-bottom: 0px;
}
.ui.segment, .ui.segments .segment{
    margin-top: 0px!important;
}
.sideMenuMobile{
    font-family: 'Kanit'!important;
    font-size: 14px!important;
}
.item{
    color: white!important;
}