.swal2-popup .swal2-image{
    margin: 0px!important;
    width: 100%;
    height: 100%;
}
.imageWrap{
    padding-top: 1em;
}
.avatarProfile{
    width: 2.7em!important;
    height: 2.7em!important;
}
.ui.fluid.card.interactedTopic{
    padding: 1em;
    padding-top: 1em!important;
}
.profileName{
    padding-top: 2em;
}