.ql-toolbar.ql-snow {
  position: sticky !important;
  top: 0px !important;
  background-color: white !important;
}
.ql-toolbar{
    background-color: white !important;
    z-index: 1;
}
.ql-container.ql-snow{
  border-style: hidden !important; 
}
p{
  font-size: 1.5em !important;
}
img{
  object-fit: cover !important;
  width: 25em ;
  height: 15em;
}
.block{
  display: inline;
}
.header{
  color:black;
  font-size: 1.5em;
  padding: 0.7em
}

.ui.dropdown .menu .selected.item, .ui.dropdown.selected{
  color: black!important;
}
.ui.selection.dropdown .menu>.item{
  color: black!important;
}